{% extends 'base.html' %}
{% block headers %}
    <title>Shortener</title>
    <link href="{{ url_for('static', filename='indextitle.css')}}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div id="main-section">
        Your link to URL: <b><a href="https://akhtyamovpavel.herokuapp.com/send/{{ link }}">
            https://akhtyamovpavel.herokuapp.com/send/{{ link }}</a></b>
        <br/>
        <a class="pure-button" href="{{ url_for('run_short_sites') }}">Return back</a>
    </div>
{% endblock %}