{% extends "base.html" %}
{% block headers %}

<link href="{{ url_for('static', filename='todolist/styles.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='todolist/todo-main.js') }}"></script>

{% endblock %}


{% block content %}
    <div id="main-section">
        <div class="heading">
            <H1> Todo list</H1>
        </div>

        <form id="todo-input" class="pure-form" >
                <input type="text" id="add-todo" class="pure-input-1" placeholder="What do you need to do?">

            <button class="pure-button pure-button-primary">Add</button>
        </form>

        <section id="main">
            <div id="input-task">
                <input id="switch-all" type="checkbox">
                <label for="switch-all">Mark all goals</label>
            </div>

            <ul id="list-tasks">



            </ul>

            <footer class="pure-g">
                <div id="tasks-remaining" class="pure-u-2-3">0 tasks remaining</div>

                <div id="remove-all-tasks" class="pure-u-1-4" display="none">Remove marked tasks</div>

            </footer>



        </section>

    </div>
{% endblock %}