html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    height: 250px;
    min-height: 25%;
}

#heading {
    font-size: 40px;
    color: #000000;
    padding-left: 80px;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    float: left;
}

#main {
    overflow: auto;
    min-height: 100%;
    padding-bottom: -180px;
    min-width: 80%;
    padding-left: 50px;
}


#index-main {
    font-size: 16px;
    padding: 20px;
}

#main-section {
    margin-left: 50px;
    width: 1000px;
    min-width: 80%;

    border: 3px silver;
    border-radius: 15px;
    background-color: #bfbfbf;
    padding-left: 50px;
    padding-bottom: 50px;

}

ul#tasks {
    font-size: 16px;
    padding-right: 50px;
    padding-top: 50px;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    float: left;
}

ul#tasks li {
    display: inline;
}

ul#tasks a {
    width: 200px;
}


#login_data, #profile {
    background-color: #cad2d3;
    float: right;
    margin-top: -150px;
    position: absolute;
    margin-left: 80%;
    margin-right: 5%;
    border-radius: 5px;
    padding: 10px;
    width: 210px;
    ;
}

#sign_up {
    float: right;
}

#profile_data {
    padding: 10px;
    margin-bottom: 20px;
}



#index-main footer {
    padding-left: 30px;
    font-family: cursive;
    font-size: 18px;
    background-color: burlywood;
}

footer {
    position: relative;
    padding-top: 50px;
    padding-left: 45%;
    margin-top: -180px;
    font-family: 'Open Sans', sans-serif;
    height: 180px;
    clear: both;
    background-color: #dddddd;
}
