html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.heading {
    font: 20px ornament;
    color: #000000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#main {
    overflow: auto;
    min-height: 100%;
    padding-bottom: -180px;
}

#index-main {
    font: 16px sans-serif;
    padding: 20px;
}

#main-section {
    margin: 0 auto;
    width: 1000px;
    border: 3px solid silver;
    border-radius: 15px;
    background-color: #bfbfbf;
}

#tasks {
    font: 16px sans-serif;
    padding: 20px;
}

#index-main footer {
    padding-left: 30px;
    font-family: cursive;
    font-size: 18px;
    background-color: burlywood;
}

footer {
    position: relative;
    padding-top: 50px;
    padding-left: 45%;
    margin-top: -180px;
    font-family: 'Open Sans', sans-serif;
    height: 180px;
    clear: both;
    background-color: #dddddd;

}
